<div ng-include="'tpl/header.html'"></div>
<ion-content class="has-footer has-header">
    <div class="card">
        <div class="item item-divider">
            <h1 class="coffee">{{data.pname}}</h1>
        </div>
        <div class="item">
            <ion-slide-box does-continue="true" slide-interval="2000" auto-play="true" show-pager="true" pager-click="go(index)" class="slider">
                <ion-slide ng-repeat="tmp in imgs">
                    <div><img ng-src="images/{{tmp.img}}" alt=""></div>
                </ion-slide>
            </ion-slide-box>
        </div>
        <div class="item item-text-wrap single">

            <h2>{{data.detail}}</h2>
            <h2><b>主要原料：</b>{{data.material}}</h2>
            <div class="rating">
                <span  ng-class="{true:'ion-android-star orange',false:'ion-android-star-outline'}[data.rating>=1]"></span>
                <span  ng-class="{true:'ion-android-star orange',false:'ion-android-star-outline'}[data.rating>=2]"></span>
                <span  ng-class="{true:'ion-android-star orange',false:'ion-android-star-outline'}[data.rating>=3]"></span>
                <span  ng-class="{true:'ion-android-star orange',false:'ion-android-star-outline'}[data.rating>=4]"></span>
                <span  ng-class="{true:'ion-android-star orange',false:'ion-android-star-outline'}[data.rating==5]"></span>
            </div>
            <div>
                <h2 class="orange">规格</h2>
                <ion-radio ng-repeat="tmp in weight" ng-value="tmp" ng-model="msg.weight" name="weight" class="coffee text-center">{{tmp}}磅</ion-radio>
            </div>
        </div>
        <div class="item item-divider text-right">
            <button class="button button-orange" ng-click="add()">加入购物车</button>
        </div>
    </div>
</ion-content>
